.pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  height: 3.75rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0.25rem 0.25rem 1.875rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.1875rem);
  border-radius: 0.125rem;

  @media (max-width: 768px) {
    height: 3rem;
  }

  button {
    position: relative;
    padding: 1.25rem 1.625rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border: navy;
    background: none;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 0.875rem 1rem;
    }

    &:hover {
      background-color: #ccc;
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:disabled {
      background-color: #e0e0e0;
      cursor: not-allowed;
    }
  }



  span {
    display: inline-block;
    padding: 0.5rem 0.75rem;
  }
}
