$black: #000;
$white: #FFFFFF;

$bg-html: rgba(121, 116, 126);
$bg-gray-100: #F2F2F2;
$bg-gray-900: rgba(121, 116, 126, 0.5);

$text-gray: rgba(0, 0, 0, .4);;
$text-black-200: #49454F;

$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;







